<div class="d-flex justify-content-center mt-2">
    <p class="fw-bold h1 text-center"> User Management </p>
</div>
<div class="d-flex justify-content-center mt-2">
    <div class="row">
        <% if @users.any? %>
            <% @users.each do |tmp_user| %>
                <div class="col-sm-6">
                    <div class="card">
                        <% if tmp_user.profile_picture.attached? %>
                            <img src="<%= url_for(tmp_user.profile_picture) %>" class="card-img-top" alt="" title="Profile picture">
                        <% else %>
                            <i class="fa-solid fa-user-slash" title="No profile picture"></i>
                        <% end %>
                        <div class="card-body">
                            
                            <h5 class="card-title"><%= tmp_user.name %></h5>
                            <p class="card"></p>
                            <p class="card-text">
                                <b>Email:</b> <%= tmp_user.email %><br>
                                <b>Joined on:</b> <%= tmp_user.date_joined.strftime("%B %d, %Y") if tmp_user.date_joined.present? %>
                            </p>
                            <div class="d-flex">
                                <%= link_to 'Edit Profile', edit_user_path(tmp_user), class: "btn btn-primary" %>
                            </div>
                        </div>
                    </div>
                </div>
            <% end %>
        <% else %>
            <h1>No users found.</h1>
        <% end %>
        
    </div>
</div>
